@import "vars"
@import "fonts"
@import "libs"


::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	min-height: 100vh
	background: url('/img/background.jpg')
	background-size: cover
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	padding-bottom: 65px
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

h1
	font-size: 22px
	text-align: center
	line-height: 28px

.button-wa:link, .button-call:link, .button-price:link, .button-wa:active, .button-call:active, .button-price:active, .button-wa:visited, .button-call:visited, .button-price:visited
	color: #fff
	text-decoration: none

.back-button:link, .back-button:visited, .back-button:active, .filter-button:link, .filter-button:visited, .filter-button:active, .button-interiors:link, .button-interiors:visited, .button-interiors:active
	color: #FFF
	text-decoration: none

.logo
	margin-top: 40px

.buttons, .price-body
	margin-top: 30px

.button-wa,.button-interiors,.button-call, .button-price, .back-button, .filter-button
	display: -webkit-flex
	display: -ms-flex
	display: flex
	align-content: center
	justify-content: center
	align-items: center
	width: 100%
	height: 50px
	color: #fff
	margin-top: 15px
	border-radius: 200px
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1)
	> .fa-whatsapp
		margin-right: 5px
		font-size: 24px
	:active
		color: #fff
		margin-top: 1px
		box-shadow: 0 0 0 #fff

.button-call
	background: rgb(37,119,211)
	background: linear-gradient(0deg, rgba(0,138,7,1) 0%, rgba(0,200,7,1) 100%)
	> .fa-phone
		margin-right: 5px

.button-price
		background: #b76c62
		> .fa-list-ul
			margin-right: 5px

.button-wa
	background: rgb(37,211,102)
	background: linear-gradient(0deg, rgba(37,211,102,1) 0%, rgba(50,230,117,1) 100%)

.back-filter-buttons
	position: fixed
	display: -webkit-flex
	display: -ms-flex
	display: flex
	justify-content: center
	align-content: center
	align-items: center
	bottom: 15px
	right: 50%
	z-index: 5
	margin-right: -110px

.button-interiors
	position: relative
	border-radius: 15px
	height: 150px
	background: url('/img/interior.jpg') no-repeat center center
	background-size: cover
	display: -webkit-flex
	display: -ms-flex
	display: flex
	justify-content: center
	align-content: center
	align-items: center
	&::before
		content: ""
		bottom: 0
		right: 0
		top: 0
		left: 0
		border-radius: 15px
		position: absolute
		z-index: 1
		background: rgba(0,0,0,0.4)
	> p
		position: relative
		z-index: 3
		font-size: 24px
		margin: 0
		font-weight: bold
		letter-spacing: 1px


.back-button, .filter-button
	height: 60px
	width: 60px
	background: #e34b3d
	display: -webkit-flex
	display: -ms-flex
	display: flex
	box-shadow: 0 4px 15px rgba(0,0,0,.3)
	&-img
		justify-content: center
		align-content: center
		align-items: center
		width: 24px
		height: auto

.filter-button
	background: #3366cc
	width: 150px
	margin-left: 10px
	font-size: 18px
	&-img
		margin-right: 7px

.table-responsive
	margin-top: 25px
	background: #fafafa

.table-responsive th
	font-size: 18px

.button-price-item
	display: -webkit-flex
	display: -ms-flex
	display: flex
	justify-content: center
	align-content: center
	align-items: center
	margin-left: -7px
	margin-right: -7px
	margin-bottom: 15px
	> p
		position: absolute
		color: #fff
		z-index: 2
		font-weight: 700
		font-size: 18px
		letter-spacing: 1px

.button-price-img
	border-radius: 15px
	> img
		border-radius: 15px

.darken
	position: relative
	&::before
		content: ""
		bottom: 0
		right: 0
		top: 0
		left: 0
		border-radius: 15px
		position: absolute
		z-index: 1
		background: rgba(0,0,0,0.4)

.item-price-img
	width: 100%
	height: 150px
	border-radius: 15px
	margin-bottom: 15px

.center
	margin-left: -220px !important

.filter-wrap
	background: #dedede
	padding: 30px
	border-radius: 15px
	position: fixed
	width: 80vw
	bottom: 90px
	left: 50%
	margin-left: -40vw
	box-shadow: 0 5px 15px rgba(0,0,0,.2)
	overflow: auto
	display: none

#close
	position: absolute
	right: 20px
	top: 20px
	width: 24px
	height: 24px

.radio
  position: absolute
  z-index: -1
  opacity: 0
  margin: 10px 0 0 7px

.radio + label
	position: relative
	padding: 0 0 0 35px
	cursor: pointer


.radio + label:before
  content: ''
  position: absolute
  top: 0px
  left: 0
  width: 24px
  height: 24px
  border: 1px solid #CDD1DA
  border-radius: 50%
  background: #FFF

.radio + label:after
  content: ''
  position: absolute
  top: 4px
  left: 4px
  width: 16px
  height: 16px
  border-radius: 50%
  background: #e34b3d
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5)
  opacity: 0
  transition: .2s

.radio:checked + label:after
  opacity: 1

.radio:focus + label:before
  box-shadow: 0 0 0 3px rgba(0,0,0,.7)

.filter-radio
	display: -webkit-flex
	display: -ms-flex
	display: flex
	align-content: center
	align-items: center

.table input
	width: 50px

.selection
	margin-top: 10px
	&-item
		display: inline-block
		background: #eee
		border-radius: 5px
		width: 120px
		height: 120px
		margin-right: 15px
		margin-bottom: 45px
		text-align: center

@import "media" // Always at the end
